body {
    margin: 0;
    padding: 0;
    background: rgb(32, 12, 22);
    color: #E6B2C7;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    margin: 50px 0;
    

}
.container {
    width: 800px;
    margin: 0 auto;
}
.gameExplanation {
    line-height: 1.65;
    margin-top: 50px;
    margin-bottom: 10px;

}
.gameExplanation table{
    border: 1px solid #E6B2C7;
    border-collapse: collapse;
    width: 100%;
   
}
.gameExplanation td, th {
    border: 1px solid #E6B2C7;
    
}
.gameExplanation  th {
    line-height: 0;
    border-spacing: 0px;
    
}

.gamePiture{
    width: 100%;
    cursor: pointer;

}
.copyright{
    margin-top: 50px;
    font-size: 12px;
}