body {
    margin: 0;
    padding: 0;
    background: rgb(47, 24, 68);;
    color: rgb(143, 120, 164);
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
	margin: 50px 0;
}
.container {
    width: 800px;
    margin: 0 auto;
}
.gameExplanation {
    line-height: 1.65;
    margin-top: 50px;
    margin-bottom: 10px;

}
.gameExplanation table{
    border: 1px solid rgb(143, 120, 164);
    border-collapse: collapse;
    width: 100%;
   
}
.gameExplanation td, th {
    border: 1px solid rgb(143, 120, 164);
    
}
.gameExplanation  th {
    line-height: 0;
    border-spacing: 0px;
    
}

.gamePiture{
    width: 100%;
    cursor: pointer;

}
